@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;

}

ul.detail.active {
  display: block;
  width: inherit;
  height: calc(100vh-80px);
}
